{% extends isBootstrap4 ? app.website.base~'Bootstrap4.html.twig': app.website.base~'.html.twig' %}

{% block content %}
    <div id="app-container-for-bootstrap">
        {% include bootstrapFolder~'/'~appName~'.html' %}
    </div>

    <script type="text/javascript">
        window.session = {{ jsonSession|raw }};
        {% if isBootstrap4 %}
        var bootstrapVersion = "bootstrap4";
        {% else %}
        var bootstrapVersion = "bootstrap2";
        {% endif %}
    </script>

    {% if isAngular2 %}
        {% if environment == 'development' %}
            <!-- Development -->
            <script src="/angular-app/languageforge/{{ appName }}/node_modules/systemjs/dist/system.src.js"></script>

            <script>
                System.config({
                    baseURL: '/angular-app/languageforge/{{ appName }}',
                    defaultJSExtensions: true,
                    paths: {
                        '@angular/common': 'node_modules/@angular/common/bundles/common.umd.js',
                        '@angular/compiler': 'node_modules/@angular/compiler/bundles/compiler.umd.js',
                        '@angular/core': 'node_modules/@angular/core/bundles/core.umd.js',
                        '@angular/forms': 'node_modules/@angular/forms/bundles/forms.umd.js',
                        '@angular/http': 'node_modules/@angular/http/bundles/http.umd.js',
                        '@angular/platform-browser': 'node_modules/@angular/platform-browser/bundles/platform-browser.umd.js',
                        '@angular/platform-browser-dynamic': 'node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js',
                        '@angular/router': 'node_modules/@angular/router/bundles/router.umd.js',
                        '@angular/common/testing': 'node_modules/@angular/common/bundles/common-testing.umd.js',
                        '@angular/compiler/testing': 'node_modules/@angular/compiler/bundles/compiler-testing.umd.js',
                        '@angular/core/testing': 'node_modules/@angular/core/bundles/core-testing.umd.js',
                        '@angular/http/testing': 'node_modules/@angular/http/bundles/http-testing.umd.js',
                        '@angular/platform-browser/testing': 'node_modules/@angular/platform-browser/bundles/platform-browser-testing.umd.js',
                        '@angular/platform-browser-dynamic/testing': 'node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic-testing.umd.js',
                        '@angular/router/testing': 'node_modules/@angular/router/bundles/router-testing.umd.js',

                        'app/*': 'dist/dev/app/*.js',
                        '*': 'node_modules/*'
                    }
                });

                Promise.all([
                    System.import('core-js/client/shim.min.js'),
                    System.import('intl/dist/Intl.min.js'),
                    System.import('.tmp/Rx.min.js')
                ]).then(function () {
                    // This has to happen after the shim.
                    System.import('zone.js/dist/zone.js');
                }).then(function () {
                    // Finally, fire up the application.
                    System.import('app/main');
                }).catch(function (err) {
                    console.error("ERROR", err.stack || err);
                });
            </script>
        {% else %}
            <!-- Production -->
            <script src="/angular-app/languageforge/{{ appName }}/dist/prod/js/shims.js"></script>
            <script src="/angular-app/languageforge/{{ appName }}/dist/prod/js/app.js"></script>
        {% endif %}

    {% else %}
        {# Angular 1 #}
        {% if useMinifiedJs %}

            {% for filename in vendorFilesMinJs %}
                <script src="/{{ filename }}"></script>
            {% endfor %}

            <script src="/js/lib/{{ app.website.base }}.min.js"></script>

        {% else %}

            {% for filename in vendorFilesJs %}
                <script src="/{{ filename }}"></script>
            {% endfor %}

            {% for filename in jsFiles %}
                <script src="/{{ filename }}"></script>
            {% endfor %}

        {% endif %}

        {% for filename in jsNotMinifiedFiles %}
            <script src="/{{ filename }}"></script>
        {% endfor %}

        <script>angular.bootstrap(document.getElementById('app-container-for-bootstrap'), ['{{ appName }}']);</script>
    {% endif %}
{% endblock %}
